<a href="https://colab.research.google.com/github/Suneelbvs7/Suneelbvs7/blob/main/assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. How do you comment code in Python? What are the different types of comments?

In  python we  can comment in  three ways
1--> using #
2--> using """ """"
3--> using ''

Q2. What are variables in Python? How do you declare and assign values to variables?

variables are the characters which carry's an value. we can declare and assign values values by declaring variable and using "=" symbol we assign values to it.
 Ex. a= 5

Q3. How do you convert one data type to another in Python?

In python we can convert one data type to another by declaring new variable or using previous variable and assigning new data typw to it.

Ex. a=int(10)
a= str(a)

in this example we assigned integer to a and then changing data type of it and re assigning

Q4. How do you write and execute a Python script from the command line?

1.For writing pyton code we need install python idle in pc.
-->then we need to type python or python3.
-->then we write write python code and execute by  entering enter

2.For executing existing python file we need specify python file path and then run.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [2]:
my_list = [1, 2, 3, 4, 5]
sub_list=my_list[1:3]
sub_list

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [4]:
# Complex number is the combination for real number followed by imaginary number.Ex. 3+2i
# complex([real[, imag]])
a=2+3j
print(type(a),a)

<class 'complex'> (2+3j)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [5]:
age=25
age

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [6]:
price=9.99
print(type(price))

<class 'float'>

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [7]:
name='suneel kumar'
print(type(name),name)

<class 'str'> suneel kumar

Q10. Given the string "Hello, World!", extract the substring "World".

In [9]:
string='Hello,World!'
print(string[6:11])

World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [10]:
is_student=False
print(is_student)

False