<a href="https://colab.research.google.com/github/Suneelbvs7/Suneelbvs7/blob/main/assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. What is a database? Differentiate between SQL and NoSQL databases.
1. Database is a organized of structured data or information.
2.SQL is a collection of structed data in the form of tables, where as NOSQL is collection of semi structure or un-structure data in form of documents

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

1.DDL(data definition language) - this commands are used for creating and modifying tables
2.CREATE- is used to create new tables or databases

3.Drop- is used to delete entire table and data

4.ALTER- is used to modify tables

5.Truncate- is used to delete data without deleting structure of the table

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
1.DML- data manupulation language is used to manupulated data in sql

2. INSERT- is used to insert new data into table
3.UPDATE- is used to update existing data in table
4.DELETE - is used to delete existing records in table

Q4. What is DQL? Explain SELECT with an example.
1. DQL- data query language is used for geting schema related information by quering
2.SELECT - is for retrieving data from the database by quering

Q5. Explain Primary Key and Foreign Key.
1.Primary Key- is used to ensure that data in the specific column is unique. A column cannot have NULL value

2.Foregin Key-  is a column or group of columns in a relational database table that provides a link between data in two tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [3]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.1.0-cp310-cp310-manylinux_2_17_x86_64.whl (27.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.5/27.5 MB 56.0 MB/s eta 0:00:00
Collecting protobuf<=4.21.12,>=4.21.1 (from mysql-connector-python)
  Downloading protobuf-4.21.12-cp37-abi3-manylinux2014_x86_64.whl (409 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 409.8/409.8 kB 38.2 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
  Attempting uninstall: protobuf
    Found existing installation: protobuf 3.20.3
    Uninstalling protobuf-3.20.3:
      Successfully uninstalled protobuf-3.20.3
Successfully installed mysql-connector-python-8.1.0 protobuf-4.21.12

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword"
)

print(mydb)

Q7. Give the order of execution of SQL clauses in an SQL query.
Order of execution of sql clauses


1.FROM
2.WHERE
3.GROUP BY
4.HAVING
5.SELECT
6.ORDER BY
7.LIMIT