<a href="https://colab.research.google.com/github/Suneelbvs7/Suneelbvs7/blob/main/python%20week1%20assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [4]:
string="data science"
list1=[2,4,56,7]
float1=float(34.5)
tuple1=(2,34,5)
print(type(string),"\n",type(list1),"\n",type(float1),"\n",type(tuple1))

<class 'str'>
 <class 'list'>
 <class 'float'>
 <class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ' '
(ii) var2 = '[ DS , ML , Python]'
(iii) var3 = [ 'DS' , 'ML' , 'Python' ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [9]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1
print(type(var1),"\n",type(var2),"\n",type(var3),"\n",type(var4))

<class 'str'>
 <class 'str'>
 <class 'list'>
 <class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [10]:
a=10
b=5
c=a/b
d=a%b
e=a//b
f=a**5
print(c,"\n",d,"\n",e,"\n",f)
#/ divides with decimal values
#% gives remainder
#// prints round of value after division
#** is used for power of

2.0
 0
 2
 100000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [11]:
a=[2,4,5,6,5.6,'ertt','TRUE','dg',5]
for i in a:
  print(i,"type:",type(i),"\n")

2 type: <class 'int'>

4 type: <class 'int'>

5 type: <class 'int'>

6 type: <class 'int'>

5.6 type: <class 'float'>

ertt type: <class 'str'>

TRUE type: <class 'str'>

dg type: <class 'str'>

5 type: <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [20]:
a=float(input())
b=float(input())
c=0
while (a>0):
  if a%b==0:
    c+=1
    a=a/b
  else:
    break
print(c)

40
2
3

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [21]:
a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,31,32,33,34,36]
for i in a:
  if(i%3==0):
    print(i,"divisible by 3\n")
  else:
    print(i,"not divisible by 3\n")

1 not divisible by 3

2 not divisible by 3

3 divisible by 3

4 not divisible by 3

5 not divisible by 3

6 divisible by 3

7 not divisible by 3

8 not divisible by 3

9 divisible by 3

10 not divisible by 3

11 not divisible by 3

12 divisible by 3

13 not divisible by 3

14 not divisible by 3

15 divisible by 3

16 not divisible by 3

17 not divisible by 3

18 divisible by 3

19 not divisible by 3

20 not divisible by 3

31 not divisible by 3

32 not divisible by 3

33 divisible by 3

34 not divisible by 3

36 divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [23]:
#mutable data type is one which can be modified after declaration 
#immutable data type are one which cannot be modified after declaration

list=[2,34,5]
tuple=(2,3,4,5,6)
list[2]=0
print(list)
tuple[2]=0
print(tuple)

[2, 34, 0]

TypeError: ignored